.layui-input{
  height:33px !important;
}
.layui-form-label{
  padding: 7px 0px !important;
  width:90px !important;
}
.layui-form-item{
  margin-bottom: 5px !important;
}
.layui-btn-primary a{
  color:#555;
  height:100%;
}
.layui-btn-normal a{
  color:#eee;
}
.left-title{
  position:relative;
  padding:12px 0px;
  margin: 8px 0px 18px 0px;
  font-size:18px;
  border-bottom:1px solid #ddd;
}
.left-title span{
  position:absolute;
  right:0px;
  font-size:13px;
  top:20px;
  color:#00b0f2;
  cursor:pointer;
}
.left-title span:hover{
  font-weight:700;
}
.sbm{
  width:106.5px;
}
.btn1{
  width:100%;
  margin:10px 0px;
}
.carousel-title{
  position:absolute;
  text-align:center;
  width:100%;
  font-size:18px;
  color:#fff;
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  top:190px;
}
.carousel-text{
  position:absolute;
  text-align:center;
  width:100%;
  font-size:14px;
  color:#fff;
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  top:225px;
}
.introduce-title{
  color: #555;
  font-weight: 700;
}
.introduce-text{
  height:225px;
  overflow:auto;
  font-size:13px;
}

.stat-left{
  float:left;
  padding-right:5px;
  padding-left:10px;
}
.stat-left i{
  font-size:16px;
}
  
.stat-right{
  float:left;
}

.statstart{
  color:#5FB878;
}
.mima{
  text-align:center;
  color:#555;
  margin-top:15px;
}
.alliance{
  color:#1976D3;
}
.horde{
  color:#DD5F75;
}
#introduce{
  background-color:#fff;
}
.securityhtml{
  font-size:14px;
}