<link rel="stylesheet" type="text/css" href="src/view/clank/index.css">

<div class="game-wrap">
  <div class="game-left">
    <div class="syscard-wrap">
      <div class="syscard-title">地城卡牌</div>
      <div class="syscard-all"></div>
      <div class="syscard-change">
        <div class="syscard" index="1"></div>
        <div class="syscard" index="2"></div>
        <div class="syscard" index="3"></div>
        <div class="syscard" index="4"></div>
        <div class="syscard" index="5"></div>
        <div class="syscard" index="6"></div>
      </div>
      <div class="syscard-title2">常驻卡牌</div>
      <div class="syscard-stay">
        <div class="syscard" index="7"></div>
        <div class="syscard" index="8"></div>
        <div class="syscard" index="9"></div>
        <div class="syscard" index="10"></div>
      </div>
    </div>
    <div class="game-map">
    
    
    </div>
    <div class="handcard-wrap">
      <div class="handcard-title">手牌</div>
      <div class="handcard-all"></div>
      <div class="handcard-change">
        <div class="handcard"></div>
        <div class="handcard"></div>
        <div class="handcard"></div>
        <div class="handcard"></div>
        <div class="handcard"></div>
      </div>
    </div>
    
  </div>

  <div class="game-right">
    <div class="token-wrap">
      <div class="clank-text">叮当声！</div>
      <div class="clank"></div>
      <div class="level-left iconfont">&#xe63f;</div>
      <div class="level-jiantou iconfont">&#xe609;</div>
      <div class="level-right">
        <div class="level" level="1">2</div>
        <div class="level" level="2">2</div>
        <div class="level current" level="3">3</div>
        <div class="level" level="4">3</div>
        <div class="level" level="7">5</div>
        <div class="level" level="6">4</div>
        <div class="level" level="5">4</div>
      </div>
    </div>
    
    <div class="player-wrap">
      <div class="player-title">王炳哲</div>
      <div class="player-icon1 iconfont">&#xe660;</div>
      <div class="player-icon2">?</div>
      <div class="player-icon3 iconfont">&#xe60c;</div>
      <div class="player-icon4 iconfont">&#xe9f5;</div>
      <div class="player-text5">秘宝</div>
      <div class="player-middle">
        <div class="player-health clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-s clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-m clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-a clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-mb clearfix">
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
        </div>
      </div>
      <div class="player-right clearfix">
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
      </div>
      <div class="player-gold">
        <div class="gold-title">金币:</div>
        <div class="gold-text">15</div>
      </div>
    </div>
    
    <div class="player-wrap wrap2">
      <div class="player-title">王炳哲</div>
      <div class="player-icon1 iconfont">&#xe660;</div>
      <div class="player-icon2">?</div>
      <div class="player-icon3 iconfont">&#xe60c;</div>
      <div class="player-icon4 iconfont">&#xe9f5;</div>
      <div class="player-text5">秘宝</div>
      <div class="player-middle">
        <div class="player-health clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-s clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-m clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-a clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-mb clearfix">
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
        </div>
      </div>
      <div class="player-right clearfix">
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
      </div>
      <div class="player-gold">
        <div class="gold-title">金币:</div>
        <div class="gold-text">15</div>
      </div>
    </div>
    
    <div class="player-wrap">
      <div class="player-title">王炳哲</div>
      <div class="player-icon1 iconfont">&#xe660;</div>
      <div class="player-icon2">?</div>
      <div class="player-icon3 iconfont">&#xe60c;</div>
      <div class="player-icon4 iconfont">&#xe9f5;</div>
      <div class="player-text5">秘宝</div>
      <div class="player-middle">
        <div class="player-health clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-s clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-m clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-a clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-mb clearfix">
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
        </div>
      </div>
      <div class="player-right clearfix">
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
      </div>
      <div class="player-gold">
        <div class="gold-title">金币:</div>
        <div class="gold-text">15</div>
      </div>
    </div>
    
    <div class="player-wrap wrap2">
      <div class="player-title">王炳哲</div>
      <div class="player-icon1 iconfont">&#xe660;</div>
      <div class="player-icon2">?</div>
      <div class="player-icon3 iconfont">&#xe60c;</div>
      <div class="player-icon4 iconfont">&#xe9f5;</div>
      <div class="player-text5">秘宝</div>
      <div class="player-middle">
        <div class="player-health clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-s clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-m clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-a clearfix">
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
          <div class="block"></div>
        </div>
        <div class="player-mb clearfix">
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
          <div class="mblock"></div>
        </div>
      </div>
      <div class="player-right clearfix">
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
      </div>
      <div class="player-gold">
        <div class="gold-title">金币:</div>
        <div class="gold-text">15</div>
      </div>
    </div> 
    
  </div>






</div>
<script>
var cards = {};   //所有卡牌数据

var data = {
  syscard:[],    //地城卡牌牌库
  syscardcur:[],    //当前地城卡牌
  staycard:[],    //常驻卡牌数量
  handcard:[],    //玩家手牌牌库
  handcardcur:[],   //当前玩家手牌
}
getCard();
function getCard(){
  ajax = $.ajax({
    url:"src/view/clank/controller/init.php",
    async:false,
    type: 'post',
    data: {"action":"getCard"},
    success:function(res){
      cards = JSON.parse(res);
    }
  });
}

console.log(cards);
initSyscard(7,20);
initSyscard(8,19);
initSyscard(9,9);
initSyscard(10,74);
function initSyscard(index,id){
  var curCard = $('.syscard[index="'+index+'"]');
  //判断副标题
  if(cards[id].type==3){
    title2html = '<div class="card-title2">怪物</div>';
  }else if(cards[id].type==4){
    title2html = '<div class="card-title2">同伴</div>';
  }else if(cards[id].type==5){
    title2html = '<div class="card-title2">装置</div>';
  }else if(cards[id].type==6){
    title2html = '<div class="card-title2">宝石</div>';
  }else{
    title2html = '';
  }
  //判断reward
  var rewardhtml = '';
  if(cards[id].reward_type1==1){
    rewardhtml = '<div class="reward1"><div>'+cards[id].reward_value1+'</div></div>';
  }else if(cards[id].reward_type1==2){
    for(i=0;i<cards[id].reward_value1;i++){
      rewardhtml += '<div class="iconfont reward2">&#xe60c;</div>';
    }
  }else if(cards[id].reward_type1==3){
    for(i=0;i<cards[id].reward_value1;i++){
      rewardhtml += '<div class="iconfont reward3">&#xe9f5;</div>';
    }
  }

  if(cards[id].reward_type2==1){
    rewardhtml += '<div class="reward1"><div>'+cards[id].reward_value2+'</div></div>';
  }else if(cards[id].reward_type2==2){
    for(i=0;i<cards[id].reward_value2;i++){
      rewardhtml += '<div class="iconfont reward2">&#xe60c;</div>';
    }
  }else if(cards[id].reward_type2==3){
    for(i=0;i<cards[id].reward_value2;i++){
      rewardhtml += '<div class="iconfont reward3">&#xe9f5;</div>';
    }
  }
  
  if(cards[id].reward_type3==1){
    rewardhtml += '<div class="reward1"><div>'+cards[id].reward_value3+'</div></div>';
  }else if(cards[id].reward_type3==2){
    for(i=0;i<cards[id].reward_value3;i++){
      rewardhtml += '<div class="iconfont reward2">&#xe60c;</div>';
    }
  }else if(cards[id].reward_type3==3){
    for(i=0;i<cards[id].reward_value3;i++){
      rewardhtml += '<div class="iconfont reward3">&#xe9f5;</div>';
    }
  }
  //判断cost
  var costhtml = '';
  if(cards[id].type==3){
    for(i=0;i<cards[id].cost;i++){
      costhtml += '<div class="iconfont cost3">&#xe9f5;</div>';
    }
  }else if(cards[id].type==1){
    costhtml = '';
  }else{
    costhtml += '<div class="cost1"><div>'+cards[id].cost+'</div></div>';
  }
  
  curCard.html(
    '<div class="card card'+cards[id].type+'" cardid='+id+'>'+
      '<div class="card-title">'+cards[id].name+'</div>'+title2html+
      '<div class="card-left">'+rewardhtml+
      '</div>'+
      '<div class="card-img" style="background-image:url(src/view/clank/images/20.png);"></div>'+
      '<div class="card-bottom">'+costhtml+
      '</div></div>');
  
}

</script>