<link rel="stylesheet" type="text/css" href="src/view/clank/index.css">

<div class="game-wrap">
  <div class="game-left">
    <div class="syscard-wrap">
      <div class="syscard-title">地城卡牌</div>
      <div class="syscard-all">
        <div class="all-title">地城牌库</div>
        <div class="all-text">剩余卡牌</div>
        <div class="all-count"><span class="layui-badge layui-bg-black">0</span></div>
      </div>
      <div class="syscard-change">
        <div class="syscard" index="1"></div>
        <div class="syscard" index="2"></div>
        <div class="syscard" index="3"></div>
        <div class="syscard" index="4"></div>
        <div class="syscard" index="5"></div>
        <div class="syscard" index="6"></div>
      </div>
      <div class="syscard-title2">常驻卡牌</div>
      <div class="syscard-stay">
        <div class="syscard" index="7"></div>
        <div class="syscard" index="8"></div>
        <div class="syscard" index="9"></div>
        <div class="syscard" index="10"></div>
        <div class="count7">0</div>
        <div class="count8">0</div>
        <div class="count9">0</div>
      </div>
    </div>
    <div class="game-map">
    
    
    </div>
    <div class="handcard-wrap">
      <div class="handcard-title">手牌</div>
      <div class="handcard-all">
        <div class="all-title">手牌牌库</div>
        <div class="all-text">剩余卡牌</div>
        <div class="all-count"><span class="layui-badge layui-bg-black">0</span></div>
      </div>
      <div class="handcard-change"></div>
    </div>
  </div>

  <div class="game-right">
    <div class="token-wrap">
      <div class="clank-text">叮当声！</div>
      <div class="clank"></div>
      <div class="level-left iconfont">&#xe63f;</div>
      <div class="level-jiantou iconfont">&#xe609;</div>
      <div class="level-right">
        <div class="level" level="1">2</div>
        <div class="level" level="2">2</div>
        <div class="level" level="3">3</div>
        <div class="level" level="4">3</div>
        <div class="level" level="7">5</div>
        <div class="level" level="6">4</div>
        <div class="level" level="5">4</div>
      </div>
    </div>
    
    <div class="player-wrap" index=1>
      <div class="player-title"></div>
      <div class="player-middle">
        <div class="player-stat1">
          <div class="readyBtn">进入座位</div>
        </div>
        <div class="player-stat2" style="display:none;">
          <div class="readyBtn3" style="display:none;">开始游戏</div>
          <div class="readyBtn2">等待开始</div>
        </div>
        <div class="player-stat3" style="display:none;">
          <div class="player-icon1 iconfont">&#xe660;</div>
          <div class="player-icon2">?</div>
          <div class="player-icon3 iconfont">&#xe60c;</div>
          <div class="player-icon4 iconfont">&#xe9f5;</div>
          <div class="player-text5">秘宝</div>
          <div class="player-health clearfix"></div>
          <div class="player-s clearfix"></div>
          <div class="player-m clearfix"></div>
          <div class="player-a clearfix"></div>
          <div class="player-mb clearfix"></div>
        </div>
      </div>
      <div class="player-right clearfix" style="display:none;">
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
      </div>
      <div class="player-gold" style="display:none;">
        <div class="gold-title">金币:</div>
        <div class="gold-text">0</div>
      </div>
    </div>
    
    <div class="player-wrap wrap2" index=2>
      <div class="player-title"></div>
      <div class="player-middle">
        <div class="player-stat1">
          <div class="readyBtn">进入座位</div>
        </div>
        <div class="player-stat2" style="display:none;">
          <div class="readyBtn3">开始游戏</div>
          <div class="readyBtn2" style="display:none;">等待开始</div>
        </div>
        <div class="player-stat3" style="display:none;">
          <div class="player-icon1 iconfont">&#xe660;</div>
          <div class="player-icon2">?</div>
          <div class="player-icon3 iconfont">&#xe60c;</div>
          <div class="player-icon4 iconfont">&#xe9f5;</div>
          <div class="player-text5">秘宝</div>
          <div class="player-health clearfix"></div>
          <div class="player-s clearfix"></div>
          <div class="player-m clearfix"></div>
          <div class="player-a clearfix"></div>
          <div class="player-mb clearfix"></div>
        </div>
      </div>
      <div class="player-right clearfix" style="display:none;">
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
      </div>
      <div class="player-gold" style="display:none;">
        <div class="gold-title">金币:</div>
        <div class="gold-text">0</div>
      </div>
    </div>
    
    <div class="player-wrap" index=3>
      <div class="player-title"></div>
      <div class="player-middle">
        <div class="player-stat1">
          <div class="readyBtn">进入座位</div>
        </div>
        <div class="player-stat2" style="display:none;">
          <div class="readyBtn3">开始游戏</div>
          <div class="readyBtn2" style="display:none;">等待开始</div>
        </div>
        <div class="player-stat3" style="display:none;">
          <div class="player-icon1 iconfont">&#xe660;</div>
          <div class="player-icon2">?</div>
          <div class="player-icon3 iconfont">&#xe60c;</div>
          <div class="player-icon4 iconfont">&#xe9f5;</div>
          <div class="player-text5">秘宝</div>
          <div class="player-health clearfix"></div>
          <div class="player-s clearfix"></div>
          <div class="player-m clearfix"></div>
          <div class="player-a clearfix"></div>
          <div class="player-mb clearfix"></div>
        </div>
      </div>
      <div class="player-right clearfix" style="display:none;">
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
      </div>
      <div class="player-gold" style="display:none;">
        <div class="gold-title">金币:</div>
        <div class="gold-text">0</div>
      </div>
    </div>
    
    <div class="player-wrap wrap2" index=4>
      <div class="player-title"></div>
      <div class="player-middle">
        <div class="player-stat1">
          <div class="readyBtn">进入座位</div>
        </div>
        <div class="player-stat2" style="display:none;">
          <div class="readyBtn3">开始游戏</div>
          <div class="readyBtn2" style="display:none;">等待开始</div>
        </div>
        <div class="player-stat3" style="display:none;">
          <div class="player-icon1 iconfont">&#xe660;</div>
          <div class="player-icon2">?</div>
          <div class="player-icon3 iconfont">&#xe60c;</div>
          <div class="player-icon4 iconfont">&#xe9f5;</div>
          <div class="player-text5">秘宝</div>
          <div class="player-health clearfix"></div>
          <div class="player-s clearfix"></div>
          <div class="player-m clearfix"></div>
          <div class="player-a clearfix"></div>
          <div class="player-mb clearfix"></div>
        </div>
      </div>
      <div class="player-right clearfix" style="display:none;">
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
        <div class="dblock"></div>
      </div>
      <div class="player-gold" style="display:none;">
        <div class="gold-title">金币:</div>
        <div class="gold-text">0</div>
      </div>
    </div>
    
    <div class="event">
      <div class="event-msg"></div>
      <div class="event-bottom">
        <div class="event-input"></div>
        <div class="event-submit"></div>
        <div class="event-exit">结束游戏</div>
      </div>
    </div>
  </div>






</div>
<script>
var userid = sessionStorage.userid   //当前玩家id
var cards = {};   //所有卡牌数据
var players = {};     //玩家列表

var data = {
  syscard:[],    //地城卡牌牌库
  syscardcur:[],    //当前地城卡牌
  staycard:[],    //常驻卡牌数量
  handcard:[],    //玩家手牌牌库
  handcardcur:[],   //当前玩家手牌
}

initGame();
//初始化游戏
function initGame(){
  getCard();
  refRoom = setInterval(function(){
    roomStatRef();
  },1000);
}

//主入口
function main(){
  //停止房间刷新
  window.clearInterval(refRoom);
  //初始化玩家面板
  $('.player-stat1').hide();
  Object.keys(players).forEach(function(player){
    $('.player-wrap[index='+players[player].uid+']').find('.player-stat2').hide();
    $('.player-wrap[index='+players[player].uid+']').find('.player-stat3').show();
    $('.player-wrap[index='+players[player].uid+']').find('.player-right').show();
    $('.player-wrap[index='+players[player].uid+']').find('.player-gold').show();
    healthChange(10,player);
    skillChange(0,player);
    moveChange(0,player);
    attackChange(0,player);
    itemChange([],player);
    
  });
  
  sysinit();  //更新地城卡牌
  handinit();  //更新手牌
  
}

//更新手牌
function handinit(){
  ajax = $.ajax({
    url:"src/view/clank/controller/init.php",
    async:false,
    type: 'post',
    dataType:'json',
    data: {
      "action":"handInit",
      "userid":userid
    },
    success:function(res){
      //更新手牌
      console.log(res);
      var handcard = JSON.parse(res.card);
      var handcardcur = JSON.parse(res.cardcur);
      initSyscard(0,handcardcur[0],'hand');
      initSyscard(0,handcardcur[1],'hand');
      initSyscard(0,handcardcur[2],'hand');
      initSyscard(0,handcardcur[3],'hand');
      initSyscard(0,handcardcur[4],'hand');
      //更新手牌剩余卡牌数
      $('.handcard-all').find('.all-count').find('span').text(res.cardnum - res.cardcurnum);
      //更新玩家数值
      healthChange(res.health,userid);
      skillChange(res.skill,userid);
      moveChange(res.move,userid);
      attackChange(res.attack,userid);
      itemChange([],userid);
      
    }
  });
}

//更新游戏进度等状态(地城卡牌、巨龙攻击级别等)
function sysinit(){
  ajax = $.ajax({
    url:"src/view/clank/controller/init.php",
    async:false,
    type: 'post',
    dataType:'json',
    data: {"action":"sysInit"},
    success:function(res){
      //更新地城卡牌
      var cardcur = JSON.parse(res.cardcur);
      initSyscard(1,cardcur[0],'sys');
      initSyscard(2,cardcur[1],'sys');
      initSyscard(3,cardcur[2],'sys');
      initSyscard(4,cardcur[3],'sys');
      initSyscard(5,cardcur[4],'sys');
      initSyscard(6,cardcur[5],'sys');
      //更新常驻卡牌
      initSyscard(7,20,'sys');
      initSyscard(8,19,'sys');
      initSyscard(9,9,'sys');
      initSyscard(10,74,'sys');
      //更新地城牌库剩余卡牌数
      $('.syscard-all').find('.all-count').find('span').text(res.cardcount);
      //更新常驻卡牌剩余卡牌数
      $('.count7').text(res.stay1);
      $('.count8').text(res.stay2);
      $('.count9').text(res.stay3);
      //更新巨龙攻击等级
      $('.level[level="'+res.level+'"]').addClass('current');
    }
  });
}

//改变玩家血量
function healthChange(val,player){
  var html = '';
  for(i=1;i<=10;i++){
    if(i<=val){
      html += '<div class="block h"></div>';
    }else{
      html += '<div class="block"></div>';
    }
  }
  $('.player-wrap[index='+players[player].uid+']').find('.player-health').html(html);
}

//改变玩家技能点
function skillChange(val,player){
  var html = '';
  for(i=1;i<=15;i++){
    if(i<=val){
      html += '<div class="block s"></div>';
    }else{
      html += '<div class="block"></div>';
    }
  }
  $('.player-wrap[index='+players[player].uid+']').find('.player-s').html(html);
}

//改变玩家移动点
function moveChange(val,player){
  var html = '';
  for(i=1;i<=15;i++){
    if(i<=val){
      html += '<div class="block m"></div>';
    }else{
      html += '<div class="block"></div>';
    }
  }
  $('.player-wrap[index='+players[player].uid+']').find('.player-m').html(html);
}

//改变玩家攻击点
function attackChange(val,player){
  var html = '';
  for(i=1;i<=15;i++){
    if(i<=val){
      html += '<div class="block a"></div>';
    }else{
      html += '<div class="block"></div>';
    }
  }
  $('.player-wrap[index='+players[player].uid+']').find('.player-a').html(html);
}

//改变玩家秘宝
function itemChange(itemArr,player){
  var html = '';
  for(i=0;i<6;i++){
    if(i<itemArr.length){
      html += '<div class="mblock mb'+itemArr[i]+'"></div>';
    }else{
      html += '<div class="mblock"></div>';
    }
  }
  $('.player-wrap[index='+players[player].uid+']').find('.player-mb').html(html);
}

//获取卡牌信息
function getCard(){
  ajax = $.ajax({
    url:"src/view/clank/controller/init.php",
    async:false,
    type: 'post',
    dataType:'text',
    data: {"action":"getCard"},
    success:function(res){
      cards = JSON.parse(res);
    }
  });
}

//房间状态刷新
function roomStatRef(){
  //先查询游戏状态
  ajax = $.ajax({
    url:"src/view/clank/controller/init.php",
    async:false,
    type: 'post',
    dataType:'text',
    data: {"action":"gamestat"},
    success:function(res){
      var run = res;
      //再查询现有玩家
      ajax = $.ajax({
        url:"src/view/clank/controller/init.php",
        async:false,
        type: 'post',
        dataType:'json',
        data: {"action":"roomstat"},
        success:function(res){
          players = {};
          for(i=1;i<5;i++){
            var pui = $('.player-wrap[index='+i+']');
            if(res[i].userid!=null&&res[i].userid!=''){
              players[res[i].userid] = {};
              players[res[i].userid]['uid'] = i;
              players[res[i].userid]['username'] = res[i].username;
              pui.find('.player-title').text(res[i].username);
              pui.find('.player-stat1').hide();
              pui.find('.player-stat2').show();
              pui.find('.player-stat3').hide();
              
              if(res[i].userid==userid){
                pui.find('.readyBtn2').hide();
                pui.find('.readyBtn3').show();
              }else{
                pui.find('.readyBtn2').show();
                pui.find('.readyBtn3').hide();
              }
            }else{
              pui.find('.player-title').text('');
              pui.find('.player-stat1').show();
              pui.find('.player-stat2').hide();
              pui.find('.player-stat3').hide();
            }
          }
          if(run==1){main();}
        }
      });
    }
  });


    

}

//初始化地城卡牌(位置，卡牌id，地城卡牌:sys或手牌:hand)
function initSyscard(index,id,type){
  if(type=="sys"){
    var curCard = $('.syscard[index="'+index+'"]');
  }
  //判断副标题
  if(cards[id].type==3){
    title2html = '<div class="card-title2">怪物</div>';
  }else if(cards[id].type==4){
    title2html = '<div class="card-title2">同伴</div>';
  }else if(cards[id].type==5){
    title2html = '<div class="card-title2">装置</div>';
  }else if(cards[id].type==6){
    title2html = '<div class="card-title2">宝石</div>';
  }else{
    title2html = '';
  }
  //判断reward
  var rewardhtml = '';
  if(cards[id].reward_type1==1){
    rewardhtml = '<div class="reward1"><div>'+cards[id].reward_value1+'</div></div>';
  }else if(cards[id].reward_type1==2){
    for(i=0;i<cards[id].reward_value1;i++){
      rewardhtml += '<div class="iconfont reward2">&#xe60c;</div>';
    }
  }else if(cards[id].reward_type1==3){
    for(i=0;i<cards[id].reward_value1;i++){
      rewardhtml += '<div class="iconfont reward3">&#xe9f5;</div>';
    }
  }

  if(cards[id].reward_type2==1){
    rewardhtml += '<div class="reward1"><div>'+cards[id].reward_value2+'</div></div>';
  }else if(cards[id].reward_type2==2){
    for(i=0;i<cards[id].reward_value2;i++){
      rewardhtml += '<div class="iconfont reward2">&#xe60c;</div>';
    }
  }else if(cards[id].reward_type2==3){
    for(i=0;i<cards[id].reward_value2;i++){
      rewardhtml += '<div class="iconfont reward3">&#xe9f5;</div>';
    }
  }
  
  if(cards[id].reward_type3==1){
    rewardhtml += '<div class="reward1"><div>'+cards[id].reward_value3+'</div></div>';
  }else if(cards[id].reward_type3==2){
    for(i=0;i<cards[id].reward_value3;i++){
      rewardhtml += '<div class="iconfont reward2">&#xe60c;</div>';
    }
  }else if(cards[id].reward_type3==3){
    for(i=0;i<cards[id].reward_value3;i++){
      rewardhtml += '<div class="iconfont reward3">&#xe9f5;</div>';
    }
  }
  //判断cost
  var costhtml = '';
  if(cards[id].type==3){
    for(i=0;i<cards[id].cost;i++){
      costhtml += '<div class="iconfont cost3">&#xe9f5;</div>';
    }
  }else if(cards[id].type==1){
    costhtml = '';
  }else{
    costhtml += '<div class="cost1"><div>'+cards[id].cost+'</div></div>';
  }
  
  if(type=='sys'){
    curCard.html(
      '<div class="card card'+cards[id].type+'" cardid='+id+'>'+
        '<div class="card-title">'+cards[id].name+'</div>'+title2html+
        '<div class="card-left">'+rewardhtml+
        '</div>'+
        '<div class="card-img" style="background-image:url(src/view/clank/images/20.png);"></div>'+
        '<div class="card-bottom">'+costhtml+
        '</div></div>'
    );
  }else{
    $('.handcard-change').append(
      '<div class="handcard"><div class="card card'+cards[id].type+'" cardid='+id+'>'+
        '<div class="card-title">'+cards[id].name+'</div>'+title2html+
        '<div class="card-left">'+rewardhtml+
        '</div>'+
        '<div class="card-img" style="background-image:url(src/view/clank/images/20.png);"></div>'+
        '<div class="card-bottom">'+costhtml+
        '</div></div></div>'
    );
  
  }

  
}

//进入座位事件
$('.readyBtn').click(function(){
  var seatid = $(this).parents('.player-wrap').attr('index');
  ajax = $.ajax({
    url:"src/view/clank/controller/init.php",
    async:false,
    type: 'post',
    data: {
      "action":"seatin",
      "seatid":seatid,
      "userid":userid,
      "username":sessionStorage.username
    },
    success:function(res){
      if(res == 'ok'){
        console.log('抢座成功');
      }
    }
  });
});

//开始游戏事件
$('.readyBtn3').click(function(){
  var playernum = Object.keys(players).length;
  if(playernum<2){
    layer.msg('玩家人数必须在2-4人');
  }else{
    ajax = $.ajax({
      url:"src/view/clank/controller/init.php",
      async:false,
      type: 'post',
      data: {
        "action":"begin"
      },
      success:function(res){
        if(res == 1){
          console.log('游戏开始');
          main();
        }else{
          console.log('游戏开始失败');
        }
      }
    });
  }
});

//游戏结束事件
$('.event-exit').click(function(){
  ajax = $.ajax({
    url:"src/view/clank/controller/init.php",
    async:false,
    type: 'post',
    dataType:'text',
    data: {
      "action":"exit"
    },
    success:function(res){
      console.log(res);
      if(res == 1){
        console.log('游戏结束');
        $('.player-right').hide();
        $('.player-gold').hide();
        initGame();
      }else{
        console.log('游戏结束失败');
      }
    }
  });
});
</script>




