<link rel="stylesheet" type="text/css" href="src/css/account.css">

<div class="layui-col-md12">
  <div class="layui-card">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
      <ul class="layui-tab-title">
        <li class="layui-this">基本资料</li>
        <li>修改密码</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <form class="layui-form" action="">
            <div class="layui-form-item">
              <label class="layui-form-label">用户名</label>
              <div class="layui-input-block">
                <input type="text" name="userid" class="layui-input" value="1" disabled>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">实名</label>
              <div class="layui-input-inline">
                <input type="text" name="username" class="layui-input" value="2" disabled>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">邮箱</label>
              <div class="layui-input-inline">
                <input type="text" name="email" class="layui-input" value="3">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">手机</label>
              <div class="layui-input-inline">
                <input type="text" name="phone" class="layui-input" value="4">
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="changeinfo">修改</button>
              </div>
            </div>
          </form>
        
        </div>
        <div class="layui-tab-item">
          <form class="layui-form">
            <div class="layui-form-item">
              <label class="layui-form-label">现密码</label>
              <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">必填项 (长度不能小于6位且不能大于32位)</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">新密码</label>
              <div class="layui-input-inline">
                <input type="password" name="password2" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">必填项</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">确认新密码</label>
              <div class="layui-input-inline">
                <input type="password" name="password3" required lay-verify="required" placeholder="请再次输入信密码" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">必填项</div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="changepass">修改</button>
              </div>
            </div>
          </form>
        
        </div>
      </div>
    </div>
  </div>
</div>

<script>

layui.use('form', function(){
  var form = layui.form;
  
  //监听修改基本信息
  form.on('submit(changeinfo)', function(data){
    var reg = /^[0-9a-zA-Z]+$/;
    if(!reg.test(data.field.password)){
      layer.msg("密码只能用字母或者数字", {icon: 2,time: 1500});
      return false;
    }
    ajax = $.ajax({
      url:"src/controller/userinfo_controller.php",
      async:false,
      type: 'post',
      data: {"regData":data.field},
      success:function(res){
        function jsonstr(str){
          var p = new Promise(function(resolve,reject){
            var cc = JSON.parse(str);
            resolve(cc);
          });
          return p;
        }
        jsonstr(res).then(function(jsonres){
          console.log(jsonres);
          res = jsonres;
          if(res.code==0){
            var id = layer.msg("修改成功", {
              icon: 1,
              time: 2000 //1秒关闭
            });
          }else if(res.code==1){
            layer.msg(res.msg, {
              icon: 2,
              time: 2000 //2秒关闭
            });
          }else if(res.code==2){
            layer.msg("发生错误，请稍后再试，或联系管理员", {
              icon: 2,
              time: 2000 //2秒关闭
            });
          }else{
            layer.msg("卧槽，这个报错不应该出现的啊！", {
              icon: 3,
              time: 2000 //2秒关闭
            });
          }
        }).catch(function(err){
          layer.msg("天呐，这个报错真的不应该出现的啊！", {
            icon: 3,
            time: 2000 //2秒关闭
          });
        });

      },
      error:function (e) {
        layer.msg(e.responseJSON.ExceptionMessage, {
          icon: 3,
          time: 1500 //1.5秒关闭
        });
        initSecurity();
      }
    });

    return false;
    
  });
  
  //监听注册
  form.on('submit(reg)', function(data){
    var reg = /^[0-9a-zA-Z]+$/;
    if(data.field.password != data.field.password2){
      layer.msg("2次输入的密码不一致", {icon: 2,time: 1500});
      return false;
    }
    if(data.field.security != security){
      layer.msg("验证码不正确", {icon: 2,time: 1500});
      initSecurity();
      return false;
    }
    if(data.field.userid.length < 3 || data.field.userid.length > 32){
      layer.msg("用户名不能少于3个字符且不能大于32个字符", {icon: 2,time: 1500});
      initSecurity();
      return false;
    }
    if(data.field.password.length < 6 || data.field.password.length > 32){
      layer.msg("密码不能少于6个字符且不能大于32个字符", {icon: 2,time: 1500});
      initSecurity();
      return false;
    }
    if(!reg.test(data.field.userid)||!reg.test(data.field.password)){
      layer.msg("用户名、密码只能用字母或者数字", {icon: 2,time: 1500});
      initSecurity();
      return false;
    }
    ajax = $.ajax({
      url:"src/controller/register_controller.php",
      async:false,
      type: 'post',
      data: {"regData":data.field},
      success:function(res){
        res = JSON.parse(res);
        if(res.code==0){
          var id = layer.msg("您的注册信息已提交，请等待管理员审核后登录", {
            time: false,   //取消自动关闭
            btn: ['朕知道了'],
            btn1:function(){
              //跳转首页
              sessionStorage.viewNow = 'main';
              window.location = '/';
              layer.close(id);
            }
          });
          
        }else if(res.code==1){
          layer.msg("用户名已存在", {
            icon: 2,
            time: 2000 //2秒关闭
          });
          initSecurity();
        }else if(res.code==2){
          layer.msg("发生错误，请稍后再试，或联系管理员", {
            icon: 2,
            time: 2000 //2秒关闭
          });
          initSecurity();
        }else{
          layer.msg("卧槽，这个报错不应该出现的啊！", {
            icon: 3,
            time: 2000 //2秒关闭
          });
          initSecurity();
        }
      },
      error:function (e) {
        layer.msg(e.responseJSON.ExceptionMessage, {
          icon: 3,
          time: 1500 //1.5秒关闭
        });
        initSecurity();
      }
    });

    return false;
    
  });
});
</script>