<link rel="stylesheet" type="text/css" href="src/css/wow.css">
<div class="layui-row">
  <div class="stat-show">
  </div>
  <div class="layui-col-md9">
    <div class="layui-carousel" id="carousel">
      <div carousel-item>
        <div>
          <div class="carousel-title">王家场魔兽世界</div>
          <div class="carousel-text">您的最佳WOW私服选择，没有之一！</div>
          <img style="display:block;width:100%;margin:-105 0;"  src="src/images/1.jpg">
        </div>
        <div>
          <div class="carousel-title">完美还原真实的70年代TBC</div>
          <div class="carousel-text">让您获得前所未有的体验。</div>
          <img style="display:block;width:120%;margin:-100 -30;" src="src/images/2.jpg">
        </div>
        <div>
          <div class="carousel-title">欢迎大爷来玩</div>
          <div class="carousel-text">各项服务应有尽有，没有做不到，只有想不到！</div>
          <img style="display:block;width:135%;margin:0 0;" src="src/images/3.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="layui-col-md3" id="introduce">
    <blockquote class="layui-elem-quote layui-quote-nm">
      <div class="introduce-title">服务器介绍</div>
      <hr>
      <div class="introduce-text">
        <ul class="layui-timeline">
          <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
              <h3 class="layui-timeline-title">经验倍率20倍！</h3>
              <p>快速升级，一个任务升3级</p>
            </div>
          </li>
          <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
              <h3 class="layui-timeline-title">商业技能不愁升</h3>
              <p>黄色、绿色100%涨技能点，效率翻几倍</p>
            </div>
          </li>
          <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
              <h3 class="layui-timeline-title">出生金币10金</h3>
              <p>助你轻松过度</p>
            </div>
          </li>
          <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
              <h3 class="layui-timeline-title">三阵营拍卖行联营</h3>
              <p>有机器人一直上架，不愁物资匮乏</p>
            </div>
          </li>
          <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
              <h3 class="layui-timeline-title">副本不爆本</h3>
              <p>刷装备刷坐骑不怕爆本</p>
            </div>
          </li>
          <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
              <h3 class="layui-timeline-title">公会成立更便捷</h3>
              <p>无需签字，公会即刻成立</p>
            </div>
          </li>
          <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
              <h3 class="layui-timeline-title">鸟点全开服务</h3>
              <p>只需4毛9，不再跑路探索，服务开通中...</p>
            </div>
          </li>
          <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
              <h3 class="layui-timeline-title">还有更多优化，快来体验</h3>
              <p>如需更多服务，请进入充值页面查看详情</p>
            </div>
          </li>
        </ul>
      </div>

    </blockquote>
  </div>
</div>
<div class="layui-row layui-col-space20">
  <div class="layui-col-md4">

    <div class="layui-card">
      <div class="layui-card-header">畅游指南</div>
      <div class="layui-card-body">
        1、点击下方客户端下载，下载魔兽世界客户端<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(版本号：3.3.5.12340)<hr>
        2、点击下方启动器下载，放到魔兽世界根目录<hr>
        3、运行启动器进入游戏，游戏账号与网站账号相同<hr>
        4、如需插件，可以点击下方插件下载
      </div>
    </div>
    <div class="layui-btn-group">
      <!-- <div class="sbm layui-btn layui-btn-normal"><a href="download/download.php">启动器下载</a></div> -->
      <div class="sbm layui-btn layui-btn-normal"><a href="download/王家场世界启动器.exe">启动器下载</a></div>
      <div class="sbm layui-btn layui-btn-primary" id="mima">客户端下载</div>
      <div class="sbm layui-btn layui-btn-primary"><a href="download/魔兽世界3.3.5大脚插件.rar">插件下载</a></div>
    </div>
    <div class="mima">客户端百度网盘提取密码：nv2f</div>
  </div>
  <div class="layui-col-md8">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">装等排行</li>
        <li>等级排行</li>
        <li>当前在线</li>
        <li>公会排行</li>
        <li>专业排行</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show" id="show4">
          <table class="layui-table" lay-skin="line">
            <colgroup>
              <col width="130">
              <col width="110">
              <col width="110">
              <col width="110">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>人物</th>
                <th>装备等级</th>
                <th>职业</th>
                <th>种族</th>
                <th>公会</th>
              </tr> 
            </thead>
            <tbody></tbody>
          </table>   
        </div>
        <div class="layui-tab-item" id="show1">
          <table class="layui-table" lay-skin="line">
            <colgroup>
              <col width="150">
              <col width="100">
              <col width="130">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>人物</th>
                <th>等级</th>
                <th>职业</th>
                <th>种族</th>
              </tr> 
            </thead>
            <tbody></tbody>
          </table>   
        </div>

        <div class="layui-tab-item" id="show2">
          <table class="layui-table" lay-skin="line">
            <colgroup>
              <col width="150">
              <col width="100">
              <col width="130">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>人物</th>
                <th>等级</th>
                <th>职业</th>
                <th>种族</th>
              </tr> 
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="layui-tab-item" id="show3">
          <table class="layui-table" lay-skin="line">
            <colgroup>
              <col width="300">
              <col width="100">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>公会名称</th>
                <th>人数</th>
                <th>会长</th>
              </tr> 
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="layui-tab-item" id="show5"></>施工中</div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

layui.use(['carousel','form'], function(){
  if(sessionStorage.access_token == 'notlogin'){
    layer.msg("未登录或登录超时，请登录", {
      icon: 2,
      time: 1000 //1秒关闭
    }, function(){
      $('.logout').click();
    });
  }
  
  var carousel = layui.carousel;
  var element = layui.element;
  //建造实例
  carousel.render({
    elem: '#carousel',
    width: '100%',//设置容器宽度
    height: '300',//设置容器高度
    arrow: 'always', //始终显示箭头
    anim: 'default', //切换动画方式
    interval:8000
  });
  
  $("#mima").mouseover(function(){
    if(this.tagName!='a'){
      layer.tips('注意：提取密码在下面', '#mima', {
        tips: [1, '#555'] //还可配置颜色
      });
    }
  });
  $("#mima").click(function(){
    window.open('https://pan.baidu.com/s/1jIqWmxC'); 
  });
  
  //职业、种族将数字处理为中文函数
  function raceClass(type,value){
    if(type=='race'){
      switch(value){
        case '1':value = '<span class="alliance">人类</span>'; break;
        case '2':value = '<span class="horde">兽人</span>'; break;
        case '3':value = '<span class="alliance">矮人</span>'; break;
        case '4':value = '<span class="alliance">暗夜精灵</span>'; break;
        case '5':value = '<span class="horde">不死族</span>'; break;
        case '6':value = '<span class="horde">牛头人</span>'; break;
        case '7':value = '<span class="alliance">侏儒</span>'; break;
        case '8':value = '<span class="horde">巨魔</span>'; break;
        case '10':value = '<span class="horde">血精灵</span>'; break;
        case '11':value = '<span class="alliance">德莱尼</span>'; break;
      }
      return value;
    }else if(type=='class'){
      switch(value){
        case '1':value = '战士'; break;
        case '2':value = '圣骑士'; break;
        case '3':value = '猎人'; break;
        case '4':value = '盗贼'; break;
        case '5':value = '牧师'; break;
        case '6':value = '未知'; break;
        case '7':value = '萨满祭司'; break;
        case '8':value = '法师'; break;
        case '9':value = '术士'; break;
        case '10':value = '未知'; break;
        case '11':value = '德鲁伊'; break;
      }
      return value;
    }
  }

  function readshow1(){
    action = 'show1';
    ajax = $.ajax({
      url:"src/controller/read_controller.php",
      async:true,
      type: 'post',
      data: {action},
      headers:{"Authorization":access_token},
      success:function(msg){
        res = JSON.parse(msg);
        html = '';
        for(i=0;i<res.length;i++){
          res[i].class1 = raceClass('class',res[i].class1)
          res[i].race = raceClass('race',res[i].race)
          
          html = html + '<tr><td>'+res[i].name+'</td><td>'+res[i].level+'</td><td>'+res[i].class1+'</td><td>'+res[i].race+'</td></tr>';
        }
        $('#show1').find('tbody').html(html);
      }
    });
  }
  readshow1();

  function readshow2(){
    action = 'show2';
    ajax = $.ajax({
      url:"src/controller/read_controller.php",
      async:true,
      type: 'post',
      data: {action},
      headers:{"Authorization":access_token},
      success:function(msg){
        res = JSON.parse(msg);
        html = '';
        for(i=0;i<res.length;i++){
          res[i].class1 = raceClass('class',res[i].class1)
          res[i].race = raceClass('race',res[i].race)
          
          html = html + '<tr><td>'+res[i].name+'</td><td>'+res[i].level+'</td><td>'+res[i].class1+'</td><td>'+res[i].race+'</td></tr>';
        }
        $('#show2').find('tbody').html(html);
          
      }
    });
  }
  readshow2();

  function readshow3(){
    action = 'show3';
    ajax = $.ajax({
      url:"src/controller/read_controller.php",
      async:true,
      type: 'post',
      data: {action},
      headers:{"Authorization":access_token},
      success:function(msg){
        res = JSON.parse(msg);
        html = '';
        for(i=0;i<res.length;i++){
          html = html + '<tr><td>'+res[i].name+'</td><td>'+res[i].member+'</td><td>'+res[i].owner+'</td></tr>';
          $('#show3').find('tbody').html(html);
        }
      }
    });
  }
  readshow3();

  function readshow4(){
    action = 'show4';
    ajax = $.ajax({
      url:"src/controller/read_controller.php",
      async:true,
      type: 'post',
      data: {action},
      headers:{"Authorization":access_token},
      success:function(msg){
        res = JSON.parse(msg);
        html = '';
        for(i=0;i<res.length;i++){
          res[i].zhiYe = raceClass('class',res[i].zhiYe)
          res[i].zhongZu = raceClass('race',res[i].zhongZu)
          if(res[i].guild=='None'){res[i].guild='无'}
          html = html + '<tr><td>'+res[i].name+'</td><td>'+res[i].itemlevel+'</td><td>'+res[i].zhiYe+'</td><td>'+res[i].zhongZu+'</td><td>'+res[i].guild+'</td></tr>';
          $('#show4').find('tbody').html(html);
        }
      }
    });
  }
  readshow4();

  function readstat(){
    action = 'showstat';
    ajax = $.ajax({
      url:"src/controller/read_controller.php",
      async:true,
      type: 'post',
      data: {action},
      headers:{"Authorization":access_token},
      success:function(msg){
        res = JSON.parse(msg);
        html = '';
        for(i=0;i<res.length;i++){
          if(res[i].flag=='2'){
            html = html + '<div class="stat-left"><i class="layui-icon">&#xe617;</i></div>'+
                          '<div class="stat-right">'+res[i].name+'</div>';
            tip = '离线';
          }else if(res[i].flag=='0'){
            html = html + '<div class="stat-left"><i class="layui-icon statstart">&#xe617;</i></div>'+
                          '<div class="stat-right">'+res[i].name+'</div>';
            tip = '在线';
            
          }
          $('.stat-show').mouseover(function(){
            layer.tips(tip, '.stat-show', {
              tips: [2, '#78BA32']
            });
          });
          $('.stat-show').html(html);
        }
      }
    });
  }
  readstat();
});


</script>