.ser-wrap{
  position:relative;
  padding:8px 5px 8px 5px;
  cursor:pointer;
}
.ser-wrap:hover{
  background-color:#eee;
}
.ser-logo{
  position:absolute;
  width:23px;
  height:23px;
}
.ser-title{
  padding-left:40px;
  color:#555;
}
.this{
  background-color:#5FB878;
}
.this .ser-title{
  color:#fff;
}
.logo-wow{
  left:13px;
  top:9px;
  background-image: url(../images/wow.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
.logo-travian{
  left:13px;
  top:9px;
  background-image: url(../images/travian.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
.card-wow-wrap{
  background-color:#000;
  border-radius:5px;
  cursor:pointer;
  border:1px solid #ccc;
}
.card-wow-wrap:hover{
  border:1px solid #fff;
  box-shadow: #1E9FFF 1px 1px 8px 1px ;
}
.card-wow-logo{
  width: 130px;
  height: 50px;
  margin-left:24px;
  background-image: url(../images/logo1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
.card-wow-text{
  color:#EBF9F8;
  font-weight:800;
  font-size:11px;
  text-align:center;
}
.card-wow-price{
  color:#ECC53A;
  font-size:16px;
}
.card-wow-time{
  color:#ECC53A;
  font-size:14px;
  border-left:1px dotted #EBF9F8;
  padding-left:5px;
  margin-left:6px;
}
.card-wow-bird{
  color:#ECC53A;
  font-size:15px;
  border-left:1px dotted #EBF9F8;
  padding-left:10px;
  margin-left:8px;
}
.card-wow-gold{
  color:#ECC53A;
  font-size:16px;
  border-left:1px dotted #EBF9F8;
  padding-left:8px;
  margin-left:6px;
}
.card-this{
  border:1px solid #fff;
  box-shadow: #1E9FFF 1px 1px 8px 2px ;
}

.form-wrap{
  margin-top:20px;
}
.layui-form-mid span{
  font-size:18px;
  color:red;
}
.layui-tab-content {
  padding: 18px !important;
}
.layui-col-space15{
  margin-bottom:10px;
}
.container{
  overflow-x: hidden;
}
.layui-form{
  height:400px;
}
.card-left{
  overflow-y:scroll;
  padding:15px;
  border:1px solid #ddd;
  height:580px;
}
.layui-card:last-child {
    margin-bottom: 15px;
}
.payimg{
  width: 150px;
  height: 150px;
  background-image: url(../images/wxpay.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
.character-input{
  display:none;
}
.layui-table-cell {
  padding:0 5px;
}